*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif;
  color: #ffffff;
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(50deg, rgba(80,5,93,90) 10%, rgba(31,33,104,20) 90%);
}
